<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离 
注意：使用mapper代理方法开发，namespace有特殊重要的作用，namespace等于mapper接口地址
-->
<mapper namespace="com.caih.mapper.TrafficMapper">

	<select id="findNewOne" resultType="com.caih.po.TrafficRecord">
		SELECT	id, 
				updatetime, 
				current_index, 
				last_index, 
				week_rate, 
				max_congest_day, 
				max_week_day, 
				max_index, 
				highway_index, 
				general_way_index, 
				lhighway_index, 
				lgeneral_way_index, 
				highway_speed, 
				general_way_speed, 
				highway_week_rate, 
				general_way_week_rate, 
				slowly, 
				congest, 
				serious, 
				avg_slowly, 
				avg_congest, 
				avg_serious, 
				slowly_rate, 
				congest_rate, 
				serious_rate, 
				is_work, 
				morning_hour, 
				morning_index, 
				evening_hour, 
				evening_index
		FROM 
				wz_big_sc.t_trafficbigscreen_trafficdata 
		ORDER BY updatetime DESC
		LIMIT 1
	</select>

	<select id="findIndexNewOne" resultType="com.caih.po.TrafficIndexRecord">
		SELECT id,
			highway_index,
			highway_speed,
			highway_week_rate,
			general_way_index,
			general_way_speed,
			general_way_week_rate
		FROM
			wz_big_sc.t_trafficbigscreen_trafficindex
		ORDER BY
			create_time DESC
		LIMIT 1
	</select>

	<select id="findCurve" resultType="com.caih.po.CurveRecord">
		SELECT	updatetime, 
				current_index
		FROM 
				wz_big_sc.t_trafficbigscreen_trafficdata 
		GROUP BY updatetime
		ORDER BY updatetime DESC
		LIMIT 288
	</select>
	
</mapper>


