<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离 
注意：使用mapper代理方法开发，namespace有特殊重要的作用，namespace等于mapper接口地址
-->
<mapper namespace="com.caih.mapper.TravelMapper">

	<select id="findVehicle" resultType="com.caih.po.TravelRecord">
		SELECT
			vehicle tkey,
			vehicle_name tname,
			SUM(users) tvalue
		FROM
			wz_big_sc.t_travelbigscreen_vehicletype
		WHERE
			DATE_SUB(NOW(), INTERVAL 30 DAY) &lt; STR_TO_DATE(CONCAT(month_id,LPAD(day_id,2,0)),'%Y%m%d')
		GROUP BY
		vehicle
	</select>	
	
	<select id="findTouristSource" resultType="com.caih.po.TravelRecord">
		SELECT
			from_provno tkey,
			from_provno_name tname,
			SUM(SUM) tvalue
		FROM
			wz_big_sc.t_travelbigscreen_passengersource
		WHERE
			DATE_SUB(NOW(), INTERVAL 30 DAY) &lt; STR_TO_DATE(CONCAT(month_id,LPAD(day_id,2,0)),'%Y%m%d') AND hour_id="22"
		GROUP BY from_provno
		ORDER BY tvalue DESC
		LIMIT 10
	</select>
	
	<select id="findStayTime" resultType="com.caih.po.TravelRecord">
		SELECT
			nDay tkey,
			nDay tname,
			SUM(peopleNum) tvalue
		FROM
			wz_big_sc.t_travelbigscreen_staytime
		WHERE
			DATE_SUB(NOW(), INTERVAL 30 DAY) &lt; STR_TO_DATE(CONCAT(mounth,LPAD(dat,2,0)),'%Y%m%d')
		GROUP BY nDay
		ORDER BY tkey
	</select>
	
	<select id="findTouristFolwHours" resultType="com.caih.po.TravelRecord">
		SELECT 	
			scenic_code tkey, 
			scenic_name tname, 
			SUM(SUM) tvalue	 
		FROM 
			wz_big_sc.t_travelbigscreen_scenicflowhours 
		WHERE
			DATE_SUB(NOW(), INTERVAL 1 HOUR) &lt; create_time
		GROUP BY 
			scenic_code
		ORDER BY tvalue DESC
	</select>

	<select id="findTouristFolwHoursbak" resultType="com.caih.po.TravelRecord" parameterType="int">
		SELECT
			scenic_code tkey,
			scenic_name tname,
			SUM(SUM) tvalue
		FROM
			wz_big_sc.t_travelbigscreen_scenicflowhours
		WHERE
			DATE_SUB(NOW(), INTERVAL 1+24*#{nDay} HOUR) &lt; create_time AND create_time &lt; DATE_SUB(NOW(), INTERVAL 24*#{nDay} HOUR)
		GROUP BY
			scenic_code
		ORDER BY tvalue DESC
	</select>

	<select id="findTouristFolwHoursCapacity" resultType="com.caih.po.TravelRecord" parameterType="int">
		SELECT
		scenic_code tkey,
		scenic_name tname,
		SUM(usersum) tvalue
		FROM
		wz_big_sc.t_travelbigscreen_scenicflowhours
		WHERE
		DATE_SUB(NOW(), INTERVAL 1+24*#{nDay} HOUR) &lt; create_time AND create_time &lt; DATE_SUB(NOW(), INTERVAL 24*#{nDay} HOUR)
		and (
		scenic_code = '450403003000003' # 珠山景区
		or scenic_code = '450403003000005' # 白云山公园
		OR scenic_code = '450423003000003' # 梁羽生公园
		OR scenic_code = '450422003000002' # 黎寨蝴蝶谷
		OR scenic_code = '450423003000001' # 蒙山县永安王城景区
		OR scenic_code = '450422003000001' # 藤县石表山休闲旅游景区
		OR scenic_code = '450481003000001' # 天龙顶山地公园
		OR scenic_code = '450403003000001' # 梧州骑楼城—龙母庙景区
		OR scenic_code = '450403003000004' # 梧州市中山公园
		)
		GROUP BY
		scenic_code
		ORDER BY tvalue DESC
	</select>

	<select id="findTouristFolwHoursYesterday" resultType="com.caih.po.TravelRecord">
        SELECT
            scenic_code tkey,
            scenic_name tname,
            SUM(SUM) tvalue
        FROM
            wz_big_sc.t_travelbigscreen_scenicflowhours
        WHERE
            STR_TO_DATE(DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 25 HOUR),'%Y%m%d%H'),'%Y%m%d%H') = STR_TO_DATE(CONCAT(month_id,LPAD(day_id,2,0),LPAD(hour_id,2,0)),'%Y%m%d%H')
        GROUP BY
            scenic_code
        ORDER BY tvalue DESC
	</select>
	
	<select id="findConsumption" resultType="com.caih.po.TravelRecord">
		SELECT 
			totalFee tkey, 
			totalFee tname, 
			SUM(num) tvalue 
		FROM 
			wz_big_sc.t_travelbigscreen_userportrait 
		WHERE
			DATE_SUB(NOW(), INTERVAL 30 DAY) &lt; create_time
		GROUP BY
			totalFee
		LIMIT 3
	</select>
	
	<select id="findAppType" resultType="com.caih.po.TravelRecord">
		SELECT
			t_appcode.appsmalltype tkey,
			t_appcode.appsmalltype tname,
			num tvalue
		FROM
			t_travelbigscreen_appcode t_appcode,
			(
				SELECT
					appBigType,
					appSmallType,
					SUM(num) num
				FROM
					t_travelbigscreen_touristapp t_touristapp
				WHERE
					DATE_SUB(NOW(), INTERVAL 30 DAY) &lt; t_touristapp.create_time
				GROUP BY appBigType,appSmallType
			) t_touristapp
		WHERE
			t_appcode.appbigtype_id = t_touristapp.appBigType
			AND t_appcode.appsmalltype_id = t_touristapp.appSmallType
		ORDER BY tvalue DESC
		LIMIT 20
	</select>
	
	<select id="findtouristFlowDate" resultType="com.caih.po.TravelRecord">
		SELECT * FROM
			(SELECT
				STR_TO_DATE(CONCAT(month_id,LPAD(day_id,2,0),LPAD(hour_id,2,0)),'%Y%m%d%H') tkey,
				hour_id tname,
				SUM(usersum) tvalue
			FROM
				wz_big_sc.t_travelbigscreen_scenicflowhours
			WHERE
				DATE_SUB(NOW(), INTERVAL 36 HOUR) &lt; STR_TO_DATE(CONCAT(month_id,LPAD(day_id,2,0),LPAD(hour_id,2,0)),'%Y%m%d%H')
			GROUP BY
				tkey
			ORDER BY
				tkey DESC
			LIMIT 24) tmptable
		ORDER BY tkey
	</select>
	
	<select id="findtouristFlowWeek" resultType="com.caih.po.TravelRecord">
		SELECT * FROM
			(SELECT
				STR_TO_DATE(CONCAT(month_id,LPAD(day_id,2,0)),'%Y%m%d') tkey,
				day_id tname,
				SUM(SUM) tvalue
			FROM
				wz_big_sc.t_travelbigscreen_scenicflowhours
			WHERE
				hour_id = '22' AND DATE_SUB(NOW(), INTERVAL 9 DAY) &lt; STR_TO_DATE(CONCAT(month_id,LPAD(day_id,2,0)),'%Y%m%d')
			GROUP BY
				tkey
			ORDER BY
				tkey DESC
			LIMIT 7) tmptable
		ORDER BY tkey
	</select>
	
	<select id="findtouristFlowMonth" resultType="com.caih.po.TravelRecord">
		SELECT * FROM
			(SELECT
				STR_TO_DATE(CONCAT(month_id,LPAD(day_id,2,0),LPAD(hour_id,2,0)),'%Y%m%d') tkey,
				day_id tname,
				SUM(SUM) tvalue
			FROM
				wz_big_sc.t_travelbigscreen_scenicflowhours
			WHERE
				hour_id ='22' AND DATE_SUB(NOW(), INTERVAL 32 DAY) &lt; STR_TO_DATE(CONCAT(month_id,LPAD(day_id,2,0)),'%Y%m%d')
			GROUP BY
				tkey
			ORDER BY
				tkey DESC
			LIMIT 30) tmptable
		ORDER BY tkey
	</select>
	
</mapper>


