<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离 
注意：使用mapper代理方法开发，namespace有特殊重要的作用，namespace等于mapper接口地址
-->
<mapper namespace="com.caih.mapper.TravelMapper">

	<select id="findVehicle" resultType="travelrecord">
		SELECT
		vehicle tkey,
		vehicle_name tname,
		SUM(users) tvalue
		FROM
		wz_big_sc.t_travelbigscreen_vehicletype
		WHERE
		DATE_SUB(NOW(), INTERVAL 30 DAY) &lt; STR_TO_DATE(CONCAT(month_id,day_id),'%Y%m%d')
		GROUP BY
		vehicle
	</select>	
	
	<select id="findTouristSource" resultType="travelrecord">
		SELECT  
			from_provno tkey, 
			from_provno_name tname, 
			SUM(SUM) tvalue	 
		FROM 
			wz_big_sc.t_travelbigscreen_passengersource 
		WHERE
			DATE_SUB(NOW(), INTERVAL 30 DAY) &lt; create_time AND hour_id="22"
		GROUP BY from_provno
		ORDER BY tvalue DESC
		LIMIT 10
	</select>
	
	<select id="findStayTime" resultType="travelrecord">
		SELECT  
			nDay tkey, 
			nDay tname, 
			SUM(peopleNum) tvalue	 
		FROM 
			wz_big_sc.t_travelbigscreen_staytime
		WHERE
			DATE_SUB(NOW(), INTERVAL 30 DAY) &lt; create_time
		GROUP BY nDay
		ORDER BY tkey
	</select>
	
	<select id="findTouristFolwHours" resultType="travelrecord">
		SELECT 	
			scenic_code tkey, 
			scenic_name tname, 
			SUM(SUM) tvalue	 
		FROM 
			wz_big_sc.t_travelbigscreen_scenicflowhours 
		WHERE
			DATE_SUB(NOW(), INTERVAL 1 HOUR) &lt; create_time
		GROUP BY 
			scenic_code
		ORDER BY tvalue DESC
	</select>
	
	<select id="findConsumption" resultType="travelrecord">
		SELECT 
			totalFee tkey, 
			totalFee tname, 
			SUM(num) tvalue 
		FROM 
			wz_big_sc.t_travelbigscreen_userportrait 
		WHERE
			DATE_SUB(NOW(), INTERVAL 30 DAY) &lt; create_time
		GROUP BY
			totalFee
		LIMIT 3
	</select>
	
	<select id="findAppType" resultType="travelrecord">
		SELECT 
			t_appcode.appsmalltype tkey,
			t_appcode.appsmalltype tname,
			SUM(t_touristapp.num) tvalue
		FROM 
			t_travelbigscreen_appcode t_appcode,
			t_travelbigscreen_touristapp t_touristapp
		WHERE
			t_appcode.appbigtype_id = t_touristapp.appBigType 
			AND t_appcode.appsmalltype_id = t_touristapp.appSmallType
			AND DATE_SUB(NOW(), INTERVAL 30 DAY) &lt; t_touristapp.create_time
		GROUP BY tkey
		ORDER BY tvalue DESC 
	</select>
	
	<select id="findtouristFlowDate" resultType="travelrecord">
		SELECT * FROM
			(SELECT
				STR_TO_DATE(CONCAT(month_id,day_id,hour_id),'%Y%m%d%H') tkey,
				hour_id tname,
				SUM(usersum) tvalue
			FROM
				wz_big_sc.t_travelbigscreen_scenicflowhours
			WHERE
				DATE_SUB(NOW(), INTERVAL 30 HOUR) &lt; STR_TO_DATE(CONCAT(month_id,day_id,hour_id),'%Y%m%d%H')
			GROUP BY
				tkey
			ORDER BY
				tkey DESC
			LIMIT 24) tmptable
		ORDER BY tkey
	</select>
	
	<select id="findtouristFlowWeek" resultType="travelrecord">
		SELECT * FROM
			(SELECT
				STR_TO_DATE(CONCAT(month_id,day_id),'%Y%m%d') tkey,
				day_id tname,
				SUM(SUM) tvalue
			FROM
				wz_big_sc.t_travelbigscreen_scenicflowhours
			WHERE
				hour_id = '22' AND DATE_SUB(NOW(), INTERVAL 9 DAY) &lt; STR_TO_DATE(CONCAT(month_id,day_id),'%Y%m%d')
			GROUP BY
				tkey
			ORDER BY
				tkey DESC
			LIMIT 7) tmptable
		ORDER BY tkey
	</select>
	
	<select id="findtouristFlowMonth" resultType="travelrecord">
		SELECT * FROM
			(SELECT
				STR_TO_DATE(CONCAT(month_id,day_id,hour_id),'%Y%m%d') tkey,
				day_id tname,
				SUM(SUM) tvalue
			FROM
				wz_big_sc.t_travelbigscreen_scenicflowhours
			WHERE
				hour_id ='22' AND DATE_SUB(NOW(), INTERVAL 32 DAY) &lt; STR_TO_DATE(CONCAT(month_id,day_id),'%Y%m%d')
			GROUP BY
				tkey
			ORDER BY
				tkey DESC
			LIMIT 30) tmptable
		ORDER BY tkey
	</select>
	
</mapper>


